section#HeaderSection {

  & {
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;

    margin-bottom: $spacer * 5;
    padding-bottom: $spacer;
  }

  .section-brand {

    .brand {
      color: inherit;
      font-size: $h4-font-size;
      font-weight: 900;
      letter-spacing: 2px;

      text-transform: uppercase;
    }

  }

  .section-navigation {

    & {
      text-align: right;
    }

    @include media-breakpoint-down("sm") {
      display: none;
    }

    .record {

      & {
        color: rgba(0, 0, 0, 0.75);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;

        margin-right: $spacer * 2;

        text-transform: uppercase;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        color: $primary;
        text-decoration: none;
      }

    }

  }

}
