section.FeaturedBlock {

  & {
    border: 1px lighten($primary, 45%) solid;

    margin-bottom: $spacer * 2;

    padding: 4rem 2rem;
  }

  .icon {

    & {
      background-color: #5d33fb;
      background-image: -webkit-linear-gradient(0deg, #5d33fb, #4eefed);
      background-image: linear-gradient(90deg, #5d33fb, #4eefed);
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: $spacer * 2;
      margin-left: auto;
      margin-right: auto;

      width: 5rem;
      height: 5rem;

      text-align: center;
    }

    i {
      color: $white;
      font-size: 1.5rem;
    }

  }

  .title {
    font-size: $h4-font-size;
    font-weight: 700;

    text-align: center;
  }

  .content {
    color: $gray-500;
    font-size: 15px;
    font-weight: 300;

    margin-bottom: 0;

    text-align: center;
  }

}
