section#AgencySection {

  & {
    margin-bottom: $spacer * 5;
  }

  .section-heading {

    & {
      margin-bottom: $spacer * 5;

      max-width: 720px;
      text-align: center;
    }

    .title {
      font-size: 3rem;
      margin-bottom: $spacer * 3;
    }

    .sub-title {
      color: $gray-500;
      font-size: 1.25rem;
      font-weight: 100;

      margin-bottom: $spacer * 3;
    }

    .action {

      .btn {
        color: $gray-900;
        letter-spacing: 1px;
      }

    }

  }

}
