section#HeroComponent {

  & {
    background: url("/static/images/background-02.jpg") no-repeat center / cover;

    margin-bottom: $spacer;

    position: relative;
    height: 100vh;
  }

  .section-gradient {
    background-color: rgba(93, 51, 251, 0.5);
    background-image: -webkit-linear-gradient(0deg, rgba(93, 51, 251, 0.75), rgba(78, 239, 237, 0.75));
    background-image: linear-gradient(90deg, rgba(93, 51, 251, 0.75), rgba(78, 239, 237, 0.75));

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
  }

  .section-inner {

    & {
      color: $white;

      display: flex;
      justify-content: center;
      align-items: center;

      flex-direction: column;

      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      z-index: 2;
    }

    .heading {
      font-size: 4rem;
      font-weight: $headings-font-weight;
      letter-spacing: 2px;

      margin-bottom: 1rem;

      text-align: center;
      text-transform: uppercase;
    }

    .sub-heading {
      font-size: 1.25rem;
      font-weight: 100;
      margin-bottom: 2rem;

      text-align: center;

      opacity: .75;
    }

    .action {

      .btn-outline-secondary {

        & {
          color: $white;
          border-color: $white;
          border-width: 2px;

          letter-spacing: 1px;
        }

        &:hover {
          color: $gray-700;
          background-color: $white;
        }

      }

    }

  }

  .section-divider {

    & {
      position: absolute;
      bottom: 4px;
      left: 0;

      width: 100%;

      z-index: 2;
    }

    svg {

      .svg-white {
        fill: $body-bg;
      }

    }

  }

}
